#qna {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.qBox {
    text-align: left;
    font-size: 20px;
    width: 90%;
    height: 100%;
}

#qna_box img {
    width: 50%;
    margin-bottom: 1em;
    margin-top: 3em;
}

.character {
    width: auto;
    min-width: calc(100% - 60px);
}

.relative img {
    position: absolute;
}

.jojak img {
    width: 50px !important;
}

#head_img {
    left: 39.3%;
    top: 32%;
}

#eye_img {
    left: 48%;
    top: 53%;
}

#clothes_img {
    left: 39%;
    /* top: 29%; */
}

#bigbox {
    padding-left: 30px;
    padding-top: 5px;
    min-height: 264px;
    background-image: url('../img/designsources/textbox/bigtextbox.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.answerList {
    border-radius: 10px;
    width: 90%;
    border: 0px;
    font-size: 15px;
    background-color: transparent;
    text-align: left;
    color: inherit;
}

.answerList:hover,
.answerList:focus {
    color: black;
}

.status {
    height: 15px;
    width: 90%;
    border-radius: 20px;
}

.clear {
    display: none !important;
}